.carousel {
    width: 100vw;
    height: 30vh;
    position: relative;
  }
  
  .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 300ms opacity ease-in-out;
  }
  
  .slide > img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 300ms opacity ease-in-out;
  }
  
  .active {
    position: absolute;
    opacity: 1;
    z-index: 1;
  }