.imageCarouselContainer {
    position: relative;
    display: inline-block;
    display: flex;
}
  
.arrowButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 20px;
    margin-right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(218, 218, 218);
    font-size: 40px;
}
  
.left {
    left: 0;
}
  
.right {
    right: 0;
}

.carouselItem {
    width: 100vw;
    height: 30vh;
    object-fit:cover;
}