.footer {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    padding: 20px;
    margin-top: 30px;
}

.footer a {
    display: flex;
    align-items: center;
}

.bandcamp {
    color: white;
    margin: 12px;
    width: 20px;
    height: 20px;
}
.icon {
    transition: scale 0.3s ease;
}
.icon:hover {
    cursor: pointer;
    opacity: 20%;
}
.icon:active {
    scale: 95%;
}