.header {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgb(26, 26, 26);
}

.header label {
    margin: 20px;
    color: white;
}
.header label:hover {
    cursor: pointer;
    scale: 110%;
}