.musicSection {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 28, 28);
    width: 100%;
    border: none;
    padding: 20px;
}

.musicSection label {
    font-size: 1.3vw;
    margin-bottom: 20px;
}

.spotify {
    display: flex;
    width: 100%;
    height: 480px;
    border: none;
    display: block;
    border-radius: 14px;
}