.services {
    background: rgb(46, 46, 46);
    padding: 40px;
    width: 80vw;
    margin: 20px;
  }

.services p {
    white-space: pre-line;  
}

.services label {
  font-size: 30px;
  margin-bottom: 20px;
}

@media (max-width: 970px) {
  .services {
    width: auto;
    margin-top: 5px;
    padding: 40px;
    /* font-size: 90%; */
  }
}