.card {
    width: 100%;
    height: auto;
    height: 700px;
    min-height: 400px;
    display: flex;
    background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgba(0, 0, 0, 0) 90%);
    /* background: red; */
    position: relative;
    justify-content: flex-end;

    margin-top: 30px;
  }
  
  .profilePicture {
    width: 60%;
    height: auto;
    object-fit:cover;
    border-radius: 50%;
    margin: 40px;
    position: absolute;
    left: 0;
}

.title {
  color: red;
}

.biography {
    background: rgb(46, 46, 46);
    padding: 25px;
    width: 50%;
    top: 10;
    right: 0;
    margin: 20px;
    z-index: 1;
    position: absolute;
  }

  .card p {
    white-space: pre-line;  
  }

  @media (max-width: 970px) {
    .card {
      width: 100%;
      height: auto;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgba(0, 0, 0, 0) 90%);
      margin: 30px;
    }
    .profilePicture {
      width: 100%;
      height: auto;
      object-fit:cover;
      border-radius: 50%;
      top: 0;
      margin: 0px;
      padding: 10%;
  }
    .biography {
      width: auto;
      margin-top: 80%;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 90%;
      position: relative;
    }
  }


  