.card {
    width: 100%;
    height: auto;
    /* height: 50vh; */
    min-height: 400px;
    display: flex;
    background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgba(0, 0, 0, 0) 90%);
    /* background: red; */
    position: relative;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  .profilePicture {
    width: 60%;
    height: auto;
    object-fit:cover;
    border-radius: 50%;
    margin: 1.5vw;
    position: absolute;
    left: 0;
}

.title {
  color: red;
}

.biography {
    background: rgb(46, 46, 46);
    padding: 1.5vw;
    width: 50%;
    height: 70%;
    height: auto;
    /* top: 10;
    right: 0; */
    margin: 1.5vw;
    z-index: 1;
    /* position: absolute; */
    font-size: 1vw;
  }

  .card p {
    white-space: pre-line;
  }

  @media (max-width: 970px) {
    .card {
      width: 100%;
      height: auto;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      background: linear-gradient(180deg, rgb(26, 26, 26) 0%, rgba(0, 0, 0, 0) 90%);
      margin: 30px;
    }
    .profilePicture {
      width: 100%;
      height: auto;
      object-fit:cover;
      border-radius: 50%;
      top: 0;
      margin: 0px;
      padding: 10%;
  }
    .biography {
      width: auto;
      margin-top: 80%;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 90%;
      position: relative;
      padding: 4vw;
    }
  }


  