.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main {
  /* width: 100vw; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  flex: 1;
}
.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 30px;
}

@media (max-width: 970px) {
  .pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}

