.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main {
  /* width: 100vw; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 30px;
}

@media (max-width: 1250px) {
  .pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
}

