.videoGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 30px;
}

.thumbnail {
    width: 100%;
    height: 30vh;
    object-fit:cover;
}
.thumbnail:hover {
    cursor: pointer;
}